div.movie img {
  transition: all 0.2s ease-in-out;
}
/* div.movie img:hover {
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}
.ma */
in-photo {
  transition: all 0.2s ease-in-out;
}
.main-photo:hover {
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}
.tag {
  background: rgba(255, 243, 0, 0.44);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 243, 0, 0.34);
}
.genre-button {
  background: var(--jet);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--persian-green);
  color: var(--white);
}
.add-button {
  background: var(--jet);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--persian-green);
  color: var(--white);
}
.add-button:hover {
  background: var(--persian-green);
  color: var(--white);
  opacity: 1;
}
.navbar-link:hover {
  color: var(--persian-green);
}
.add-button:active {
  background: var(--persian-green);
  color: var(--white);
  opacity: 0.8;
}
