.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1rem;
}
div.movie {
}
div.movie img {
  width: 130px;
  height: 200px;
  border-radius: 5px;
}
.main-photos {
  display: flex;
  justify-content: center;
}
.main-photo {
  width: 95%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.movie-grid-header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.tag {
  // put at the bottom on the poster
  position: absolute;
  margin-top: -30px;
  background-color: yellow;
  width: 60px;
  height: 15px;
  color: black;
  padding: 5px;
  border-radius: 10px;
  //border: 1px solid yellow;
  font-size: 0.8rem;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  div.movie {
    width: 200px;
  }
  div.movie img {
    width: 200px;
    height: 300px;
  }
  .movie-grid-header {
    font-size: 2rem;
  }
}
